<html>
    <body>
        <form action="/produtos" method="post">

            <div>
                <% if (validacoes) { %>
                    <ul>
                        <% for (i = 0; i < validacoes.length; i++) { %>
                            <li>
                                <%= validacoes[i].param %>: <%= validacoes[i].msg %> 
                            </li>                    
                        <% } %>
                    </ul>
                <% } %>
            </div>

            <div>
                <label for="titulo">Titulo</label>
                <input type="text" id="titulo" name="titulo" value="<%= produto.titulo %>" placeholder="coloque o titulo"/>
            </div>
            <div>
                <label for="preco">Preço</label>
                <input type="text" id="preco" name="preco" value="<%= produto.preco %>" placeholder="150.25"/>
            </div>
            <div>
                <label for="descricao">Descrição</label>
                <textarea cols="20" rows="10"  id="descricao" name="descricao" placeholder="fale sobre o livro"><%= produto.descricao %></textarea>
            </div>

            <input type="submit" value="gravar"/>
        </form>
    </body>
</html>